OPENAI_API_KEY=
OPENAI_API_BASE=https://api.openai.com/v1
# Use "|" to run multiple models in one command.
MODEL=gpt-5.3-codex|glm-5|minimax-m2.5|kimi-k2.5
MAX_OUTPUT_TOKENS=3000
MAX_OUTPUT_TOKENS_RETRY=6000
BUG_PROBE_REQUIRED=false
